.profile-details {
    background-color: var(--color-primary);

    .menber {
        font-size: var(--clamp14);
        font-weight: 400;
        border-radius: 20px;
        background-color: #2695FB;
        color: var(--color-primary);
    }

    h2 {
        font-size: var(--clamp35);
        color: #181A2B;
        font-weight: 600;
    }

    h3 {
        font-size: var(--clamp18);
        color: #181A2B;
        font-weight: 600;
    }

    p {
        font-size: var(--clamp14);
        color: #7C838E;
        font-weight: 400;

        a {
            color: #2695FB;
            text-decoration: none;
        }
    }
}